{% extends "FMConanBundle::base.html.twig" %}

{% set graphs = [
  { 'id': 'executed', 'bucket': 'job.execute.' ~ tube, 'type': 'counts', 'title': 'Jobs executed' },
  { 'id': 'workers', 'bucket': 'tube.' ~ tube ~ '.workers', 'type': 'gauges', 'title': 'Number of workers' },
  { 'id': 'reserved', 'bucket': 'tube.' ~ tube ~ '.reserved', 'type': 'gauges', 'title': 'Jobs reserved' },
  { 'id': 'ready', 'bucket': 'tube.' ~ tube ~ '.ready', 'type': 'gauges', 'title': 'Jobs ready' },
  { 'id': 'urgent', 'bucket': 'tube.' ~ tube ~ '.urgent', 'type': 'gauges', 'title': 'Jobs urgent' },
  { 'id': 'delayed', 'bucket': 'tube.' ~ tube ~ '.delayed', 'type': 'gauges', 'title': 'Jobs delayed' },
  { 'id': 'buried', 'bucket': 'tube.' ~ tube ~ '.buried', 'type': 'gauges', 'title': 'Jobs buried' },
] %}

{% set title = tube %}
{% set body_class = body_class|default('') ~ ' worker' %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li><a href="{{ cms_action_route(cms_action('workers')) }}" rel="prev">
        ← Workers
      </a></li>
    <li class="active"><a href="{{ cms_action_route(cms_action('workers')) }}?tube={{ tube }}">
        {{ tube }}
      </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div id="buckets-container">
        {% for graph in graphs %}
        <div id="{{ graph.id }}" class="graph"></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ parent() }}

  var graphs = [];

  {% for graph in graphs %}
    var graph = new StatisticoGraph(
      $('#{{ graph.id }}'),
      '{{ graph.title }}',
      '{{ cms_action_route(cms_action('workers')) }}?bucket={{ graph.bucket }}&type={{ graph.type }}'
    );

    graphs[graphs.length] = graph;
  {% endfor %}

  graphs.forEach(function(graph) {
    graph.onComplete = function() {
      setTimeout(function() {
        graph.render();
      }, 5000);
    };

    graph.render();
  });

{% endblock %}
